Dear {{name}},

You just signed up for Anxietybox.com. Click
this link to confirm your account and get
started:

CONFIRM YOUR ACCOUNT:
https://anxietybox.com/activate/{{account_tracker}}

If you didn't sign up, ignore this email.

NOW WHAT?
- You'll receive one or two emails from Your
  Anxiety a day. It's up to you what you make of
  these emails.
  
- Every email has a link that lets you DELETE
  your account, no questions asked.

- You can REPLY to the emails if you want to
  tell your anxiety where to stick it.

- At least for now, this is a cultural/art
  experiment--not a medical product, and
  emphatically NOT a proven treatment for
  managing anxiety.
  
- I know that anxiety is a very private thing
  and will treat your information with
  respect. I will never sell your email or share
  it with a third party without your consent.

It's wonderful to have thousands of brilliant,
interesting, anxious people suddenly appear
within my digital orbit. Anxiety Box won't be
able to help all of you, or maybe even any of
you, but I'm glad we're doing this experiment
together.

You can send me email at
mailto:ford+anxietybox@ftrain.com with any
questions.

Please be patient with me, and with yourself.

Sincerely,

Paul Ford
Accidental Founder
https://anxietybox.com
________________________________________

{{advertisement}}
________________________________________

