<html>
  <body>
    <p>Dear {{fullname}},</p>
    
    <p><a href="http://anxietybox.com/activate/{{confirm}}">Click here to activate your account</a>
    http://localhost:3000/activate/{{confirm}}</p>
  </body>
</html>
