Dear {{fullname}},


You just signed up for Anxietybox.com. Click here to confirm your email:

http://anxietybox.com/activate/{{confirm}}

If you didn't sign up, ignore this email.
    
Best wishes,

Your Anxiety
