<html>
  <body>
    <p>Dear {{fullname}},</p>
    
    <p>I can't believe you think you can actually complete {{project}}.</p>

    <p>Can you name ONE THING you have ever finished? Think about
it.  You've never finished anything, as far as I can tell. Just
prove me wrong by telling me about ONE THING that you completed and
how you did it. No one has every been worse at finishing things than
you have.</p>

    <p>Sincerely,</p>

    <p>Your Anxiety</p>

    <hr/>
    <p>No more emails: http://anxietybox.com/block/{{confirm}}
  </body>
</html>
