Dear {{fullname}},

I've been thinking a lot about your goal of "{{project}}."

I don't think you'll ever make any progress. It's pretty much
hopeless. 

Can you name ONE THING you have ever finished? Think about it.  You've
never finished anything, as far as I can tell.

Just prove me wrong by telling me about ONE THING that you completed
and how you did it. No one has every been worse at finishing things
than you have.

Sincerely,

Anxiety

Delete your account: http://anxietybox.com/delete/{{confirm}}
