<html>
  <body>
    <p>Dear {{fullname}},</p>
    
    <p><a href="http://anxietybox.com/delete/{{confirm}}">Click here to delete your account (you can start a new account any time)</a>
    http://localhost:3000/delete/{{confirm}}</p>
  </body>
</html>
